body {
    //===========================================================================
    //===============================   HEADER   ================================
    //===========================================================================
    header {
        padding-left: 5rem;  
        padding-top: 1rem;   
        height: 150px;
        
        .slogan {
            position: absolute;
            top: 3.6rem; 
            left: 5rem; 
            font-style: italic;
        }
  
        .navbar {     
            height: 150px;  

            .nav_btn {         
                cursor: pointer;
                position: relative;   
                
                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 1px;
                    width: 0;
                    height: 2px;
                    background-color: #a43bc4;
                    transition: width 0.3s ease;
                }
                
                &::before {
                    right: 50%;
                }
                
                &::after {
                    left: 50%;
                }
                
                &:hover::before,
                &:hover::after {
                    width: 50%;
                    transition: width 0.3s ease;
                }  
                
            }
            


           /*  .underline {
                position: absolute;
                width: 0;
                height: 2px;
                background-color: #a43bc4;
                bottom: 1.5rem;
                transition: width 0.3s ease;
            } */
        }
    }
    //===========================================================================
    //================================   MAIN   =================================
    //===========================================================================
    .section {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .btn {
        cursor: pointer;
        
        &:hover {
           background-color: #9133ad; 
        }
        
    }
    //===========================================================================
    //=============================   TOP SECTION   =============================
    //===========================================================================
    .top_section {       
        
        .background_container {
            background-image: url('img/laptop-5673901_1920.jpg');
            bottom: 1rem; 
        }
    }
    //===========================================================================
    //============================   ABOUT SECTION   ============================
    //===========================================================================
    .about_section {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        padding-top: 1rem;
        gap: 1rem; 

        .img_face {
            grid-column: 1 / span 2;
        }

        .about_container {
            grid-column: 3 / span 6;
        }
    }

    //===========================================================================
    //==============================   PORTFOLIO   ==============================
    //===========================================================================
    .portfolio_section {
       
        #slideContainer {      
                    
            .next { 
                cursor: pointer;
            }

            .prev {
                cursor: pointer; 
            }
        }

        .dot_container {

            .dot {
                cursor: pointer;

                &:hover {
                    background-color: #717171;
                }
            }    
        }        
    }
}
